<link rel="stylesheet" href="product-list.component.css">

<h2>Produtos</h2>
<table>
    <thead>
        <tr>
            <th>Produto</th>
            <th>preço</th>
            <th>descrição</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Xicara</td>
            <td>R$ 19,90</td>
            <td>A melhor xicara para café do mundo</td>
        </tr>
        <tr>
            <td>Garrafa de café</td>
            <td>R$ 89,90</td>
            <td>Combinado com a melhor xícara do mundo, sua "hora do café" nunca mai será a mesma</td>
        </tr>
        <tr>
            <td>Cafeteira Elétrica</td>
            <td>R$ 229,90</td>
            <td>Sem esta cafeteira nao faz o menor sentido usar a xícara e a garrafa</td>
        </tr>
    </tbody>
</table>



<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->